.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.teal {
    background-color: teal;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.list-group-item {
    cursor: pointer;
    height: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}